Source: iipsrv-astro
Section: science
Priority: optional
Maintainer: Gijs Molenaar <gijs@pythonic.nl>
Build-Depends: debhelper (>= 8.0.0), autotools-dev, zlib1g-dev, libjpeg-dev,
 libtiff5-dev, libmemcached-dev
Standards-Version: 3.9.4
Homepage: https://github.com/cmarmo/iipsrv-astro

Package: iipsrv-astro
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: image server for web-based streamed viewing
 iipsrv is an advanced high-performance feature-rich image server for web-based
 streamed viewing and zooming of ultra high-resolution images.
